.Kodawarisozai {
    max-width: 1000px;
    width: 100%;
    margin: 100px auto 0;
}

.Kodawarisozai h2 {
    font-size: clamp(16px, 4vw, 40px);
    line-height: 1.1;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.sozaicardwrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sozaicardgrid {
    width: 100%;
    display: grid;
    grid-template-rows: 200px 200px;
}

.sozaicardgrid img {
    max-width: 184px;
    width: 100%;
    text-align: center;
}

.sozaicardgrid h3 {
    font-weight: lighter;
    text-align: center;
    max-width: 184px;
    width: 100%;
}

@media (max-width: 768px) {
    .Kodawarisozai {
        padding: 0 16px;
    }

    .sozaicardwrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* =========================
   Mobile
========================= */
@media (max-width: 480px) {
    .sozaicardwrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .sozaicardgrid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* 마지막 카드 가운데 정렬 */
    .sozaicardwrap .sozaicardgrid:last-child {
        grid-column: span 2;
        justify-self: center;
    }

    .Kodawarisozai {
        padding: 0;
    }
}