@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

html {
    scroll-behavior: smooth;
}

.Brandtop {
    font-family: 'Klee One';
}

h2 {
    font-weight: lighter;
}
