.footer {
    background: linear-gradient(135deg,
            #FFF7CC,
            #FFFDE8);
    padding: 60px 20px 30px;
}

.footer-inner {
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 40px;
}

.footer-logo img {
    width: 120px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.footer-nav a:hover {
    opacity: 0.7;
}

.footer-sns img {
    width: 28px;
    transition: transform 0.2s ease;
}

.footer-sns a:hover img {
    transform: scale(1.1);
}


.footer-copy {
    max-width: 500px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
    color: #888;
    transform: translateX(70%);
}


@media (max-width: 768px) {
    .footer-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 16px;
    }

    .footer-logo img {
        margin: 0 auto;
    }

    .footer-sns {
        margin-top: 20px;
    }

    .footer-copy {
        display: none;
    }
}